*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

#logo {
  height: 3.125em;
  margin: 1.25em;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  display: flex;
}

.hero {
  margin-top: 3.125em;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero > img {
  max-width: 62.5em;
  width: 90%;
  object-fit: cover;
  align-self: center;
}

.hero--title, 
.card {
  margin: 1.25em auto;
}

.hero--text {
  width: 18.75em;
  margin: 0 auto;
}

.card {
  position: relative;
}

.card--image {
  width: 12.5em;
  border-radius: 10px;
}

.card--title {
  max-width: 12.5em;
  padding: 5px 0;
}

.stars span {
  color: gray;
}

.card--overlay {
position: absolute;
color: rgb(0, 0, 0);
background-color: white;
border-radius: 10px;
padding: 0.3125em;
top: 0.3125em;
left: 0.3125em;
}

.card--rating {
  display: flex;
  flex-direction: row;
}

.star-image {
  width: 0.9375em;
  align-self: center;
}

.app--cards {
  margin: 1.25em;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .hero,
  .card {
    margin: 4em auto;
  }
  .hero--text {
    width: 100%;
    text-align: center;
  }
}